---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Experienced data analyst and manager with a passion for delivering high-quality analytics solutions."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello, I’m John Edward Shuford, an experienced data analyst and manager based in Westminster, Colorado. 
		With a strong background in SQL, data engineering, and BI tools such as Tableau, 
		I specialize in setting and delivering company-wide analytics standards, ensuring robust data quality and providing authoritative insights.
	</p>

	<p>
		Currently, I work as a Lead Developer at Charter Communications, where I manage a team of four engineers. 
		Since January 2023, I’ve been supporting end-to-end analytics pipelines for multiple business functions, including Buyflow and Purchasing, 
		Notifications and Altering, Marketing and Promotions, and Identity. I have created and maintained over 15 dashboards for executive leadership, 
		ensuring continuous improvement in data quality and delivery. Additionally, I co-authored organizational standards for data management and visualization best practices.
	</p>

	<p>
		Before this role, I served as a Senior Developer at Charter Communications from July 2022 to December 2022. 
		During this time, I released an in-depth Notifications Dashboard, manipulating billions of rows of event-based data to create an intuitive 
		and powerful tool for executive leadership. I also onboarded new team members and conducted wellness seminars focused on work-life balance and nutrition.
	</p>

	<p>
		From September 2021 to June 2022, I was an Insights Engineer at Charter Communications, where I authored documentation to standardize 
		dashboard development, reducing the time required to build new dashboards by 60%.
	</p>

	<p>
		Earlier in my career, I worked as a Dashboard and Report Developer at Cyber Data Technologies from April 2021 to September 2021. 
		In this role, I converted static reports into dynamic Tableau dashboards and collaborated with the Chief Data Officer to deliver the next-generation Data Warehouse for the United States Air Force Academy.
	</p>

	<p>
		I hold a Certificate in Data Analysis and Visualization from the University of Denver (2021), a Tableau Desktop Specialist certification (2021), 
		and a Bachelor of Science in Health & Fitness Management with minors in Business Administration and Sports Psychology from Texas State University (2018).
	</p>

	<p>
		Feel free to connect with me on <a href="https://www.linkedin.com/in/john-e-shuford/">LinkedIn</a> or check out my <a href="https://johnshuford.substack.com/">Substack</a> for more insights into my professional journey.
	</p>
</Layout>
